{#{% load staticfiles %}#}
{% load static %}
<div>
    <br><br><br>
</div>

{#<footer class=" bg-dark fixed-bottom">#}
{#    <div class="container">#}
{##}
{#        <div class="row">#}
{#            <p class="my-3 text-centetatext-white">Copyright &copy; www.dusaiphoto.com 2018</p>#}
{#        </div>#}
{##}
{#    </div>#}
{#</footer>#}


        <div class="bg-dark fixed-bottom">
             <p class="my-0 py-3 text-center text-white">Copyright &copy; www.dusaiphoto.com 2018</p>
        </div>
